In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
path = '/Users/tristangarcia/desktop/hp-pred/data/wa/'
data = pd.read_csv(f'{path}wa_data.csv')

/var/folders/vr/skwvh_8x0gzcmpxx950wbv9c0000gn/T/ipykernel_22541/1861869158.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{path}wa_data.csv')

In [3]:
data.columns

Index(['listingId', 'unitNumber', 'streetNumber', 'street', 'suburb', 'state',
       'postcode', 'bathrooms', 'bedrooms', 'parking', 'landArea', 'latitude',
       'longitude', 'features', 'agency', 'propertyTypes', 'promoLevel',
       'soldMonth', 'soldYear', 'daysListed', 'inspectionsCount', 'isRural',
       'hasDescription', 'hasFloorplan', 'hasDisplayPrice', 'hasPhoto',
       'photoCount', 'suburb_medianPrice', 'suburb_medianRentPrice',
       'suburb_entryLevelPrice', 'suburb_luxuryLevelPrice', 'primary',
       'primaryDistance', 'primaryType', 'secondary', 'secondaryDistance',
       'secondaryType', 'listingUrl', 'soldPrice'],
      dtype='object')

In [4]:
# Renaming propertyTypes
data.rename(columns={'propertyTypes':'propertyType'}, inplace=True)

In [5]:
# Removing irrelevant columns. Alot of these columns will be re-added by feature engineering. 
data.drop(columns=['listingId','unitNumber','state','agency','promoLevel','soldMonth','daysListed','inspectionsCount','isRural',
                   'hasDescription','hasFloorplan','hasDisplayPrice','hasPhoto','photoCount','suburb_medianPrice','suburb_medianRentPrice',
                   'suburb_entryLevelPrice','suburb_luxuryLevelPrice','primary','primaryDistance','primaryType',
                   'secondary','secondaryDistance','secondaryType','listingUrl'], inplace=True)

# SPLIT

In [6]:
# train test split
train,test = train_test_split(data, test_size=0.3, random_state=222, shuffle=True)
# validation split
validation,test = train_test_split(test, test_size=0.5, random_state=222, shuffle=True)

# Train

In [7]:
train.shape

(132522, 14)

In [8]:
train.head()

,streetNumber,street,suburb,postcode,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
132412,18,Townsend Road,Rockingham,6168.0,2,4,3,684.0,-32.287532,115.730129,NaN,House,2022.0,537500.0
80502,90,Oats Street,Carlisle,6101.0,1,3,2,328.0,-31.985069,115.919821,"['Air Conditioning', 'Close to Schools', 'Clos...",House,2017.0,398000.0
103740,1,McKivett Crescent,Leeming,6149.0,2,4,2,NaN,-32.080012,115.852985,NaN,House,2019.0,635000.0
29035,72,Oceanside Promenade,Mullaloo,6027.0,2,6,2,719.0,-31.777956,115.733920,"['Air conditioning', 'Balcony / Deck', 'Built ...",House,2023.0,2025000.0
58987,19,Raymond Street,Yokine,6060.0,1,2,1,62.0,-31.898329,115.842957,NaN,Apartment,2022.0,220000.0

# Validation

In [9]:
validation.shape

(28398, 14)

In [10]:
validation.head()

,streetNumber,street,suburb,postcode,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
185546,5,Butler Way,Port Hedland,6721.0,2,4,2,697.0,-20.318749,118.643571,"['Additional Parking', 'Air conditioning', 'Bu...",House,2022.0,910000.0
153403,19,Boyalla Street,Carey Park,6230.0,1,3,1,416.0,-33.350097,115.657813,NaN,House,2021.0,192000.0
105763,91B,Thelma Street,Como,6152.0,2,4,3,712.0,-31.996666,115.869440,"['Solar Panels', 'Built-In Robes', 'Dishwasher...",House,2024.0,1830000.0
107204,14C,Anthus Corner,Waterford,6152.0,3,4,2,NaN,-32.013882,115.898411,NaN,House,2022.0,755000.0
55640,23,Warda Crescent,Forrestfield,6058.0,2,4,3,657.0,-31.971957,116.006453,NaN,House,2022.0,700000.0

# Test

In [11]:
test.shape

(28398, 14)

In [12]:
test.head()

,streetNumber,street,suburb,postcode,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
134383,13,Porpoise Grove,Waikiki,6169.0,1,3,3,704.0,-32.312734,115.744737,"['Close to Schools', 'Close to Shops', 'Close ...",House,2021.0,355000.0
128253,78B,Centennial Avenue,Bertram,6167.0,2,4,4,524.0,-32.252562,115.851044,NaN,House,2023.0,488000.0
25843,4,Neptune Gardens,Beldon,6027.0,1,3,1,701.0,-31.776680,115.761934,NaN,House,2021.0,515000.0
127319,317,Mandogalup Road,Hope Valley,6165.0,2,2,2,20200.0,-32.186643,115.825476,NaN,House,2024.0,1265000.0
151032,7,Kealy Street,Harvey,6220.0,1,3,1,702.0,-33.084058,115.889397,NaN,House,2023.0,332000.0

# Writing to csv

In [13]:
train.to_csv(f'{path}wa_train.csv', index=False)
validation.to_csv(f'{path}wa_validation.csv', index=False)
test.to_csv(f'{path}wa_test.csv', index=False)

In [14]:
train.columns

Index(['streetNumber', 'street', 'suburb', 'postcode', 'bathrooms', 'bedrooms',
       'parking', 'landArea', 'latitude', 'longitude', 'features',
       'propertyType', 'soldYear', 'soldPrice'],
      dtype='object')