In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
path = '/Users/tristangarcia/desktop/hp-pred_data/data/wa_data/'
data = pd.read_csv(f'{path}wa_data.csv')

/var/folders/vr/skwvh_8x0gzcmpxx950wbv9c0000gn/T/ipykernel_67748/3833328733.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{path}wa_data.csv')

In [3]:
data.columns

Index(['listingId', 'unitNumber', 'streetNumber', 'street', 'suburb', 'state',
       'postcode', 'bathrooms', 'bedrooms', 'parking', 'landArea', 'latitude',
       'longitude', 'features', 'agency', 'propertyTypes', 'promoLevel',
       'soldMonth', 'soldYear', 'daysListed', 'inspectionsCount', 'isRural',
       'hasDescription', 'hasFloorplan', 'hasDisplayPrice', 'hasPhoto',
       'photoCount', 'suburb_medianPrice', 'suburb_medianRentPrice',
       'suburb_entryLevelPrice', 'suburb_luxuryLevelPrice', 'primary',
       'primaryDistance', 'primaryType', 'secondary', 'secondaryDistance',
       'secondaryType', 'listingUrl', 'soldPrice'],
      dtype='object')

In [4]:
# Renaming propertyTypes
data.rename(columns={'propertyTypes':'propertyType'}, inplace=True)

In [5]:
# Removing irrelevant columns. Alot of these columns will be re-added by feature engineering. 
data.drop(columns=['listingId','unitNumber','streetNumber','street','postcode','state','agency','promoLevel',
                   'soldMonth','daysListed','inspectionsCount','isRural','hasDescription','hasFloorplan',
                   'hasDisplayPrice','hasPhoto','photoCount','suburb_medianPrice','suburb_medianRentPrice',
                   'suburb_entryLevelPrice','suburb_luxuryLevelPrice','primary','primaryDistance','primaryType',
                   'secondary','secondaryDistance','secondaryType','listingUrl'], inplace=True)

# SPLIT

In [6]:
# train test split
train,test = train_test_split(data, test_size=0.3, random_state=222, shuffle=True)
# validation split
validation,test = train_test_split(test, test_size=0.5, random_state=222, shuffle=True)

# Train

In [7]:
train.shape

(81106, 11)

In [8]:
train.head()

,suburb,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
101048,Porongurup,1,3,3,165700.0,NaN,NaN,NaN,House,2023.0,700000.0
44369,Ballajura,3,5,2,NaN,-31.827344,115.885659,"['Air Conditioning', 'Built-In Wardrobes', 'Cl...",House,2017.0,415000.0
51125,Bentley,1,2,1,94.0,-32.010395,115.922793,NaN,Apartment,2021.0,315000.0
89695,Waroona,1,3,6,1663.0,-32.846762,115.921622,NaN,House,2023.0,280000.0
73439,Fremantle,1,1,1,NaN,-32.054933,115.743772,"['Air Conditioning', 'Heating', 'Built-In Ward...",Apartment,2023.0,545000.0

# Validation

In [9]:
validation.shape

(17380, 11)

In [10]:
validation.head()

,suburb,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
13562,Carine,2,4,2,708.0,-31.849761,115.795404,NaN,House,2023.0,885000.0
83548,Port Kennedy,1,3,1,267.0,-32.351767,115.749453,"['Air conditioning', 'Built in wardrobes', 'Se...",House,2021.0,335000.0
109067,Glenfield,2,4,2,580.0,-28.682568,114.614329,NaN,House,2021.0,407500.0
70087,Canning Vale,2,3,2,NaN,-32.080531,115.920491,['Secure Parking'],House,2022.0,500000.0
1789,East Perth,1,1,1,91.0,-31.960190,115.870788,['Balcony'],Apartment,2023.0,312000.0

# Test

In [11]:
test.shape

(17380, 11)

In [12]:
test.head()

,suburb,bathrooms,bedrooms,parking,landArea,latitude,longitude,features,propertyType,soldYear,soldPrice
51512,Rivervale,1,1,1,NaN,-31.953732,115.910840,NaN,Apartment,2024.0,260000.0
40213,Morley,1,3,4,373.0,-31.881354,115.915000,"['Air Conditioning', 'Heating', 'Built-In Ward...",House,2023.0,596000.0
3749,North Perth,2,4,3,438.0,-31.929979,115.859760,NaN,House,2022.0,1070000.0
64516,Leeming,3,4,2,NaN,-32.078154,115.852870,NaN,House,2019.0,855000.0
70687,Attadale,1,3,2,948.0,-32.023708,115.796232,"['Close to Transport', 'Close to Shops', 'Clos...",House,2023.0,1420000.0

# Writing to csv

In [13]:
train.to_csv(f'{path}wa_train.csv', index=False)
validation.to_csv(f'{path}wa_validation.csv', index=False)
test.to_csv(f'{path}wa_test.csv', index=False)

In [14]:
train.columns

Index(['suburb', 'bathrooms', 'bedrooms', 'parking', 'landArea', 'latitude',
       'longitude', 'features', 'propertyType', 'soldYear', 'soldPrice'],
      dtype='object')